.wrapper {
  display: flex;
}

.side-wrapper {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side-header {
  /* background-color: #253141; */
  /* ↑あってもなくても変わらない */
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-chat {
  font-size: 10px;
}

.create-chat a {
  /* font-size: 10px; */
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
  border: 1px solid lightblue;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.main-wrapper {
  background-color: #ffffff;
  width: calc(100% - 300px);
  /* padding: 0 40px; */
}

.main-header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}