.wrapper {
  display: flex;
}

.side-wrapper {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side-header {
  /* background-color: #253141; */
  /* ↑あってもなくても変わらない */
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-chat {
  font-size: 10px;
}

.create-chat a {
  /* font-size: 10px; */
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
  border: 1px solid lightblue;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.main-wrapper {
  background-color: #ffffff;
  width: calc(100% - 300px);
  /* padding: 0 40px; */
}

.main-header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-exit {
  margin-top: 40px;
}

.chat-exit a {
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin-bottom: 40px;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434A54;
}

.message-date {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  font-size: 14px;
  color: #434A54;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
}

.hidden {
  display: none;
}